:root {
	--black: #000411;
	--white: #f4f4f6;
	--green: #285943;
	--rose: #ab4967;

	overflow-x: hidden;
}

* {
	font-family: 'Sora', sans-serif;
}

.App {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	
	background-color: var(--white);
	color: var(--black);

	min-height: 100vh;
	height: fit-content;
	width: 100vw;
}

.header {
	position:relative;
	top: 0;
	padding: 20px;
	height: min-content;
}

.body {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 10px;
	align-items: center;
}

.body .p-button {
	width: fit-content;
}

.input-field {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
}

@media (max-width: 600px) {
	.input-field {
		flex-direction: column;
		align-items: flex-start;
	}
}

.uv-data {
	margin: 20px;
}

.map-embed {
	width: 100%;
	min-width: 400px;
	height: 400px;
}