:root {
	--black: #000411;
	--white: #f4f4f6;
	--green: #285943;
	--rose: #ab4967;
	--saffron: #eac435;

	overflow-x: hidden;
}

.App {
  text-align: center;
}

.App-header {
  background-color: var(--white);
  color: var(--black);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
