@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

.sora-regular {
	font-family: 'Sora', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.sora-regular-italic {
	font-family: 'Sora', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: italic;
}

.sora-semibold {
	font-family: 'Sora', sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
}

.sora-bold {
	font-family: 'Sora', sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}

html {
	font-size: 16px;
}

body {
	margin: 0;
	font-family: 'Sora', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}